<head>
<style>
img {float: left;margin: 50px;}
body {background-color:darkolivegreen;font-family: "Trebuchet MS", Helvetica, sans-serif;margin-left:80px;color:beige;}
h1 {margin-left:10px; font-size:80px;color:beige;text-align: center}
h2 {font-size:35px;color:beige}
h3 {font-size:25px;color:beige}
p {font-size:20px;}
ul {font-size:20px;}
</style>
</head> 

  <<li><a href="default.asp">Home</a></li>
  <li><a href="index.asp">Blog</a></li>
  <li><a href="about.asp">About</a></li>
  <li><a href="contact.asp">Contact</a></li>
</ul>
<br>
<br>
<br>
<h1> This is Allison Fabella's Totally Awesome Bio Page</h1>
<img src="http://2.bp.blogspot.com/-4Nmd0E1wm-A/ThwvgTy-yKI/AAAAAAAACe8/7LXLlDyZXIk/s1600/mrbean3.jpg"/>
<br>
<h2>A Little Bit About Allison</h2>
<h3>Here are a few things about Allison that you probably already knew or might have figured out:</h3>
<ul>
  <li>She'd rather post goofy/disturbing pictures of Mr. Bean than of herself</li> 
  <li>She is the Global Director of SEO at CareerBuilder</li>
  <li>She has a water cup that looks like a glass of beer</li>
  <li>She has a son is is totally awesome, but don't don't tell her I said that, I'm too awesome! ;)</li>
</ul>
<h3>However, there are a few things about Allison that you might not have known. </h3>
<ul>
  <li>She's from New York</li>
  <li>She plays cello, guitar, and piano</li>
  <li>She can balance a mop, tennis racket, baseball bat, or pretty much anything like that on the tip of her finger for a freakishly long time</li>
</ul>
<h3>Here is the official bio that Allison gives to people when she's not messing around:</h3>
<p>Allison Fabella has been practicing search engine optimization for over a decade and is currently Global Director of SEO at CareerBuilder. Prior to joining CareerBuilder, Allison managed the SEO and Social Media teams for the largest newspaper in the South East, The Atlanta Journal-Constitution, and was SEO Director at Primedia.

A national speaker on the topics of Search Engine Optimization (SEO) and Social Media, Allison is a founding member of the Atlanta chapter of SEMPO (Search Engine Marketing Professionals), serves on the faculty of the eLearning site ClickZ Academy, and has been nationally named "one of the most influential women in Search."

Allison resides in Atlanta with her husband and son. She enjoys playing cello, gardening, and trying to tire out the family puppy, which is apparently impossible.</p>
<br>

<h3>One more thing you might not have known about Allison:</h3>
<p>She writes really awesome blog posts.  You can check out her latest masterpiece on her  <a href="http://allisonfabella.com/welcome/index"> Index</a> page.




