<head>
<style>
img {float: left;margin: 50px;}
body {background-color:darkolivegreen;font-family: "Trebuchet MS", Helvetica, sans-serif;margin-left:80px;color:beige;}
h1 {margin-left:10px; font-size:80px;color:beige;text-align: center;}
h2 {font-size:35px;color:beige}
h3 {font-size:25px;color:beige}
p {font-size:20px;}
ul {font-size:20px;}
p.italic {font-style: italic;}
</style>
</head>
<style> 
</style>
<ul class="top_nav">
  <li><a href="default">Home</a></li>
  <li><a href="index">Blog</a></li>
  <li><a href="about">About</a></li>
  <li><a href="contact">Contact</a></li>
</ul>
<div><%= image_tag 'blogheader.JPG'%></div>
<br>
<br>
<h2>7 SEO Truths Every Business Leader Must Understand</h2>
<h3>by Allison Fabella ~ January 15, 2015</h3>

<p class="italic">I confess. I did not write the following blog post. I totally ripped it off from <a href="http://searchengineland.com/10-seo-truths-every-business-leader-must-understand-190146"> Search Engine Land</a>. But not for the reasons you might think.</p> 
<ul>
  <li>It's NOT because I'm lazy (although sometimes I can be - just like anyone else).</li>
  <li>It's NOT because I'm too overloaded with other work to start writing my own blog posts (although I definitely am).</li>
  <li>It's NOT because I don't have any original thoughts (I most certainly do).</li>
</ul>

<p class="italic"> It's because in 2015 if you own, operate, code, design, or touch a website in any way, these 7 points are absoultely critical for you to understand. If you don't, or if you choose to ignore them, you do so at your own peril. And quite frankly, I couldn't have said it better myself.</p> 
<p class="italic">Therefore, I unabashedly, unapologetically re-post this ever-so-important article on my very own site. I hope you read it. I hope you understand it. I hope you will <a href="mailto:allison.fabella@careerbuilder.com"> contact me</a> if you have questions or want to talk about it.</p>
<br>


<p>If you’re still caught up in SEO practices and know how that worked in 2007, it’s time to get up-to-date — fast! Unless you catch up with recent developments in business and search marketing, you’ll get run over by the competition that’s zooming along at high speed.</p>  
<p><a href="http://searchengineland.com/10-seo-truths-every-business-leader-must-understand-190146"><img src="http://searchengineland.com/figz/wp-content/seloads/2014/04/shutterstock_131012597-truth-crop-600x207.jpg"/></a></p>
<ol>
  <li>Offline and Online Marketing Are Co-Dependent</li>
  <p>The world is becoming flat. Boundaries between various digital marketing disciplines — such as SEO, paid search, content marketing and social media marketing — are disappearing. Even offline and online marketing are no longer so disconnected.</p>

  <p>What people say about you offline can influence your visibility online — and what people learn about you online impacts offline sales. Your offline and online presence need to be unified to create a consistent brand experience for your customers, so ensure that these marketing teams are working hand in hand for maximum impact.</p>

  <li>You Don’t Own Your Search Rankings</li>
  <p>Having your site ranked on Google is not your right or due. It’s a privilege. Google owes you nothing. Don’t expect special treatment, regardless of how important or successful your business is.</p>

  <p>Some clients consulting me only want to focus on getting new traffic. They believe their current search rankings will remain forever. That’s wrong. Placements can shift in an instant, without any warning. You’re constantly playing defense.</p>

  <p>Search engines are important in the buying cycle. Losing your search engine rank could make a dent in your finances. Sticking your head in the sand and ignoring this reality can prove a costly mistake for your business.</p>
  <li class="fave">Even Small, Careless Changes Can Damage Your SEO</li>
  <p>Sometimes a business will lose its dominant search presence because of a minor change made to their website: a tweak to the navigation bar, a change to a page header or title tag, a new block of text added to the home page, a link included in a site-wide sidebar, etc.</p>

  <p>Modifications like these are often suggested by a non-specialist, and the impact can be serious. You could lose your search rankings — then sales and growth stall, too.</p>

  <li>Be Careful When Changing To A New CMS</li>
  <p>Moving your website to a new CMS (a better one) is good, right? Not necessarily! Without a proper migration strategy in place to ensure that SEO is preserved, switching to a new CMS can basically kill your traffic and sales.</p>

  <p>While switching to a newer CMS can often provide many benefits in terms of productivity and functionality, many things can go wrong from an SEO perspective:</p>

<ul>
  <li>Site architecture may be damaged</li>
  <li>URL structure and page hierarchy can be altered</li>
  <li>On-page optimization may suffer</li>
  <li>Duplicate content issues might arise</li>
</ul>
<p>Many CMS solutions advertise themselves as being “search-engine-friendly” or “SEO-ready,” but that doesn’t mean that SEO is included out of the box — nor does it mean that your current SEO equity will be preserved upon making the switch.</p>

<p>In most cases, “search-engine-friendly” or “SEO-friendly” just mean that your CMS has built-in capabilities that allow your team to implement crucial on-site SEO elements without the aid of a developer. This might include the ability to adjust title tags, add meta elements, define page URLs, create XML sitemaps, etc.</p>

<p>In other words, a search-engine-friendly CMS gives you the tools, but you’ll still need an experienced SEO to make proper use of them.</p>

<p>Trusting your CMS vendor or programmer to get this right is dangerous. You wouldn’t let a plumber fix your electrical wiring just because he’s working on the same wall, would you?</p>

<p>Programmers, designers and SEO consultants are three distinct specialists. Getting them to work together while planning your site re-design can help you avoid the situation European airline Ryanair recently faced, <a href="http://www.theguardian.com/business/2014/apr/17/ryanair-website-drops-out-top-google-flight-search-results"> dropping out of Google’s search results after a website overhaul.</a></p>
  <li>Mobile SEO Is Not Just “Responsive Design”</li>
  <p>Many website owners and marketing managers think they are the same thing. Yes, getting your website to display nicely on a tablet or smartphone is important. But mobile SEO involves much more, including optimization for:</p>

<ul>
  <li>Higher ranking on geo-targeted local search</li>
<li>Easy user navigation on a mobile device</li>
<li>Timely access to relevant information</li>
<li>Customizing user experience based on location</li>
<li>Quick and easy share-ability</li></ul></p>

<li>SEO Isn’t An Act — It’s The Whole Play</li>
<p>Many clients start off thinking about SEO as a snapshot instead of a slideshow. SEO needs constant focus and ongoing work. Everything you do is inter-connected. One change will create ripples elsewhere.

SEO isn’t just a one-time implementation of website changes. It’s a strategic initiative with many moving parts. Fixing things locally isn’t enough. Google looks at things like social signals, authority back links and user trust to rank websites. These can’t be easily manipulated or fixed through shortcuts.</p>
<li>Change Is The Only Constant</li>
<p>Everything about online marketing and business keeps evolving continuously. New technology emerges, and it influences the way people research and buy. Traditional thinking — where marketing, technology and other components of your business were siloed into watertight compartments — must die.</p></ol>

<p>Every business leader in 2014 and beyond must understand these changes. Being unaware of (or ignoring) them places your business at risk.</p>

<H3>What Do You Think?</H3>

<h3>To Find out More About Allison, go to her<a href="localhost:3000/welcome/about"> Bio Page</a></h3>

