// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

list {
ul {
list-style-type:none;
margin:0;
padding:0;
float: left;
a:link, a:visited {display: block; width: 120px;background-color:darkgoldenrod; color:beige;text-decoration: none;text-align:center;font-weight: bold;text-transform: uppercase;padding:5px}a:hover, a:active {background-color: green;
}